* {
    box-sizing: border-box;
}

/*body {
   background-color: #b3d9ff;
}*/

/* button {
    margin: 10px;
}*/

header {
    border-bottom: 1px solid gray;
}

.main-title {
    text-align: center;
}

.field {
    margin-bottom: 10px;
    margin-right: 10px;
    /*color: lightskyblue;*/
}

/*input[type="text"] {
    display: block;
    text-align: right;
}*/
.output {
    border: 2px solid gray;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 15px;

}

.calculator {
    display: block;
    float: left;
    border: 3px solid grey;
    border-radius: 15px 50px;
    padding: 10px;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 28%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5px;
}