* {
    box-sizing: border-box;
}

/*body {
   background-color: #b3d9ff;
}*/

/* button {
    margin: 10px;
}*/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: black;
    background-image: url(./fractal.jpg);
    background-size: cover;
}

header {
    border-bottom: 1px solid gray;
    padding-bottom: 0%;
}

.main-title {
    position: relative;
    text-align: center;
}

.titleLink {
    background: -webkit-linear-gradient(left, rgb(5, 127, 241) , rgb(6, 114, 255), rgb(4, 0, 211), rgb(76, 0, 255), rgb(185, 5, 230), violet);
    background: -o-linear-gradient(right, rgb(5, 127, 241) , rgb(6, 114, 255), rgb(4, 0, 211), rgb(76, 0, 255), rgb(185, 5, 230), violet);
    background: -moz-linear-gradient(right, rgb(5, 127, 241) , rgb(6, 114, 255), rgb(4, 0, 211), rgb(76, 0, 255), rgb(185, 5, 230), violet);
    background: linear-gradient(to right, rgb(5, 127, 241) , rgb(6, 114, 255), rgb(4, 0, 211), rgb(76, 0, 255), rgb(185, 5, 230), violet);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Monoton;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    /*background-color: rgb(8, 1, 104);*/
    color: rgb(163, 75, 204);
    border-radius: 10%;
    text-shadow: blueviolet;
}

.field {
    margin-bottom: 10px;
    margin-right: 10px;
    width: 60%;
    background-color: black;
    color: white;
    /*color: lightskyblue;*/
}

/*input[type="text"] {
    display: block;
    text-align: right;
}*/
.output {
    border: 2px solid gray;
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
}

.calculator {
    /*display: flex;
    
    flex-wrap: wrap;*/
    color: white;
    background-color: black;
    border: 3px solid purple;
    border-radius: 15px 50px;
    padding: 10px;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 28%;
    margin: 0 auto;
}

.navBar {
    display: flex;
    /* border: 1px solid white; */
    /*width: 30vw;*/
    justify-content: space-between;
    /* background-color: #6e7781; */
}

.mainBody {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    /* margin: 0 auto; */
}

ul.navMenu {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.navMenu {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

a {
    text-decoration: none;
    color: black;
}

a.homeLink {
    color: black;
}

.navItems {
    overflow: hidden;
    background-image: radial-gradient(circle, lightskyblue, blue, black);
    color: #c3d9ef;
    /*height: 100px; */
    border-radius: 50%;
    border: 4px solid rgba(85, 84, 84, 0.521);
    text-align: center;
    background-color: white;
    padding-bottom: 0;
    height: 100px;
    width: 100px;
    margin-bottom: 1vw;
    display: inline-flex;
    justify-content: center;
}

.navItems:hover {
    border: 4px solid #2485e5;
    background-color: lightgray;
}

h3.link {
   padding-top: 1vw;
   font-family: Copperplate, "Copperplate Gothic Light";
   color: black;   
}

/*h3.link:hover {
    
}*/