* {
    box-sizing: border-box;
}

/*body {
   background-color: #b3d9ff;
}*/

/* button {
    margin: 10px;
}*/

header {
    border-bottom: 1px solid gray;
}

.main-title {
    text-align: center;
}

.field {
    margin-bottom: 10px;
    margin-right: 10px;
    /*color: lightskyblue;*/
}

/*input[type="text"] {
    display: block;
    text-align: right;
}*/
.output {
    border: 2px solid gray;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 15px;

}

.calculator {
    display: flex;
    
    flex-wrap: wrap;
    border: 3px solid grey;
    border-radius: 15px 50px;
    padding: 10px;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 28%;
    margin: 0 auto;
}

.navBar {
    display: block;
    border: 1px solid black;
    width: 15%;
    background-color: #6e7781;
}

.mainBody {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    /* margin: 0 auto; */
}

ul.navMenu {
    list-style: none;
    padding: 2%;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #c3d9ef;
}

a.homeLink {
    color: black;
}

.navItems {
    color: #c3d9ef;
}